<div class="container">
  <div class="row">
    <div class=col-md-12>
      <h1 class="jumbotron text-center">
        Template Driven Form.
      </h1>
    </div>
    <div class="col-md-6">
      <form #userForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="txtUserName">User Name</label>
          <input type="text" class="form-control" id="txtUserName" required [(ngModel)]="user.username" placeholder="Enter username"
            name="uname" #uname="ngModel">
        </div>
        <div [hidden]="uname.valid || uname.pristine" class="alert alert-danger">
          User Name is required
        </div>
        <div class="form-group">
          <label for="txtUserCity">User City</label>
          <input type="text" class="form-control" id="txtUserCity" required [(ngModel)]="user.usercity" placeholder="Enter usercity"
            name="ucity" #ucity="ngModel">
        </div>
        <div [hidden]="ucity.valid || ucity.pristine" class="alert alert-danger">
          User City is required
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid">Submit</button> &nbsp;&nbsp;
        <button type="button" class="btn btn-default" (click)="userForm.reset()">Reset</button>
      </form>
    </div>
    <div class="col-md-6">
      <br/>
      <br/>
      <ul>
        <li>
          <label>
            User Name : {{user.username}}
          </label>
        </li>
        <li>
            <label>
              User City : {{user.usercity}}
            </label>
          </li>
      </ul>
    </div>

  </div>
</div>


ravalireddy1124@gmail.com